In [2]:
import pandas as pd
df=pd.read_csv("horse.csv")
df

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,...,55.0,65.0,NaN,NaN,euthanized,no,3205,0,0,no
295,no,adult,527702,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,44.0,NaN,serosanguious,3.3,euthanized,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,60.0,6.8,NaN,NaN,died,yes,3205,0,0,no
297,yes,adult,530612,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,50.0,6.0,serosanguious,3.4,lived,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,clear,1.0,euthanized,no,6112,0,0,no

In [3]:
df.describe()

,hospital_number,rectal_temp,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion_1,lesion_2,lesion_3
count,2.990000e+02,239.000000,275.000000,241.000000,53.000000,270.000000,266.000000,101.000000,299.000000,299.000000,299.000000
mean,1.087733e+06,38.168619,72.000000,30.460581,4.707547,46.307407,24.274436,3.039604,3659.709030,90.528428,7.387960
std,1.532032e+06,0.733744,28.646219,17.666102,1.982311,10.436743,27.364194,1.967947,5408.472421,650.637139,127.749768
min,5.184760e+05,35.400000,30.000000,8.000000,1.000000,23.000000,3.300000,0.100000,0.000000,0.000000,0.000000
25%,5.289040e+05,37.800000,48.000000,18.000000,3.000000,38.000000,6.500000,2.000000,2111.500000,0.000000,0.000000
50%,5.303010e+05,38.200000,64.000000,25.000000,5.000000,45.000000,7.500000,2.300000,2322.000000,0.000000,0.000000
75%,5.347360e+05,38.500000,88.000000,36.000000,6.500000,52.000000,56.750000,3.900000,3209.000000,0.000000,0.000000
max,5.305629e+06,40.800000,184.000000,96.000000,7.500000,75.000000,89.000000,10.100000,41110.000000,7111.000000,2209.000000

In [9]:
df1=pd.get_dummies(df)
df1=df1.drop_duplicates()
df1

,hospital_number,rectal_temp,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion_1,lesion_2,...,abdomo_appearance_clear,abdomo_appearance_cloudy,abdomo_appearance_serosanguious,outcome_died,outcome_euthanized,outcome_lived,surgical_lesion_no,surgical_lesion_yes,cp_data_no,cp_data_yes
0,530101,38.5,66.0,28.0,NaN,45.0,8.4,NaN,11300,0,...,0,0,0,1,0,0,1,0,1,0
1,534817,39.2,88.0,20.0,NaN,50.0,85.0,2.0,2208,0,...,0,1,0,0,1,0,1,0,1,0
2,530334,38.3,40.0,24.0,NaN,33.0,6.7,NaN,0,0,...,0,0,0,0,0,1,1,0,0,1
3,5290409,39.1,164.0,84.0,5.0,48.0,7.2,5.3,2208,0,...,0,0,1,1,0,0,0,1,0,1
4,530255,37.3,104.0,35.0,NaN,74.0,7.4,NaN,4300,0,...,0,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,533886,NaN,120.0,70.0,NaN,55.0,65.0,NaN,3205,0,...,0,0,0,0,1,0,1,0,1,0
295,527702,37.2,72.0,24.0,NaN,44.0,NaN,3.3,2208,0,...,0,0,1,0,1,0,0,1,0,1
296,529386,37.5,72.0,30.0,NaN,60.0,6.8,NaN,3205,0,...,0,0,0,1,0,0,0,1,1,0
297,530612,36.5,100.0,24.0,NaN,50.0,6.0,3.4,2208,0,...,0,0,1,0,0,1,0,1,0,1
298,534618,37.2,40.0,20.0,NaN,36.0,62.0,1.0,6112,0,...,1,0,0,0,1,0,1,0,1,0

In [10]:
x=df1.iloc[:,:].values
x

array([[5.30101e+05, 3.85000e+01, 6.60000e+01, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.34817e+05, 3.92000e+01, 8.80000e+01, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.30334e+05, 3.83000e+01, 4.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 1.00000e+00],
       ...,
       [5.29386e+05, 3.75000e+01, 7.20000e+01, ..., 1.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.30612e+05, 3.65000e+01, 1.00000e+02, ..., 1.00000e+00,
        0.00000e+00, 1.00000e+00],
       [5.34618e+05, 3.72000e+01, 4.00000e+01, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00]])

In [11]:
from sklearn.impute import KNNImputer
knn=KNNImputer()
data=knn.fit_transform(x)
data

array([[5.30101e+05, 3.85000e+01, 6.60000e+01, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.34817e+05, 3.92000e+01, 8.80000e+01, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.30334e+05, 3.83000e+01, 4.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 1.00000e+00],
       ...,
       [5.29386e+05, 3.75000e+01, 7.20000e+01, ..., 1.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.30612e+05, 3.65000e+01, 1.00000e+02, ..., 1.00000e+00,
        0.00000e+00, 1.00000e+00],
       [5.34618e+05, 3.72000e+01, 4.00000e+01, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00]])

In [12]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
mm_op=mm.fit_transform(data)
mm_op

array([[0.00242837, 0.57407407, 0.23376623, ..., 0.        , 1.        ,
        0.        ],
       [0.00341351, 0.7037037 , 0.37662338, ..., 0.        , 1.        ,
        0.        ],
       [0.00247705, 0.53703704, 0.06493506, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.00227902, 0.38888889, 0.27272727, ..., 1.        , 1.        ,
        0.        ],
       [0.00253512, 0.2037037 , 0.45454545, ..., 1.        , 0.        ,
        1.        ],
       [0.00337194, 0.33333333, 0.06493506, ..., 0.        , 1.        ,
        0.        ]])

In [13]:
df2=pd.DataFrame(mm_op)
df2

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0.002428,0.574074,0.233766,0.227273,0.876923,0.423077,0.059510,0.386,0.274872,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.003414,0.703704,0.376623,0.136364,0.123077,0.519231,0.953326,0.190,0.053710,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.002477,0.537037,0.064935,0.181818,0.600000,0.192308,0.039673,0.508,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,0.996821,0.685185,0.870130,0.863636,0.615385,0.480769,0.045508,0.520,0.053710,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.002461,0.351852,0.480519,0.306818,0.692308,0.980769,0.047841,0.270,0.104597,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.003219,0.514815,0.584416,0.704545,0.092308,0.615385,0.719953,0.170,0.077962,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
295,0.001927,0.333333,0.272727,0.181818,0.735385,0.403846,0.049242,0.320,0.053710,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
296,0.002279,0.388889,0.272727,0.250000,0.738462,0.711538,0.040840,0.534,0.077962,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
297,0.002535,0.203704,0.454545,0.181818,0.753846,0.519231,0.031505,0.330,0.053710,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
298,0.003372,0.333333,0.064935,0.136364,0.123077,0.250000,0.684947,0.090,0.148674,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [14]:
a=df2.iloc[:,0:65].values
a

array([[0.00242837, 0.57407407, 0.23376623, ..., 0.        , 1.        ,
        0.        ],
       [0.00341351, 0.7037037 , 0.37662338, ..., 0.        , 0.        ,
        1.        ],
       [0.00247705, 0.53703704, 0.06493506, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.00227902, 0.38888889, 0.27272727, ..., 0.        , 1.        ,
        0.        ],
       [0.00253512, 0.2037037 , 0.45454545, ..., 1.        , 0.        ,
        0.        ],
       [0.00337194, 0.33333333, 0.06493506, ..., 0.        , 0.        ,
        1.        ]])

In [15]:
b=df2.iloc[:,67].values
b

array([0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0.,
       0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 0.,
       0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1.,
       0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0.,
       1., 0., 0., 1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 1.,
       0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1.,
       1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1.,
       0., 1., 1., 0., 0., 0., 1., 1., 1., 0.])

In [16]:
from sklearn.model_selection import train_test_split
a1,a2,a3,a4=train_test_split(a,b,test_size=0.30,random_state=0)

In [17]:
from sklearn.tree import DecisionTreeClassifier
dct=DecisionTreeClassifier(criterion="entropy")
dct.fit(a1,a3)
tree_output=dct.predict(a2)
tree_output

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0.,
       0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
       1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 0.])

In [18]:
from sklearn.metrics import confusion_matrix
log=confusion_matrix(tree_output,a4)
log

array([[12, 12],
       [11, 55]], dtype=int64)

In [19]:
print((13+52)/(13+15+10+52))

0.7222222222222222

In [20]:
from sklearn.ensemble import RandomForestClassifier
rc=RandomForestClassifier()
rc.fit(a1,a3)
rf_output=rc.predict(a2)
rf_output

array([1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0.,
       1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 0.])

In [21]:
from sklearn.metrics import confusion_matrix
rf=confusion_matrix(rf_output,a4)
rf

array([[13,  6],
       [10, 61]], dtype=int64)

In [22]:
print((14+62)/(14+5+9+62))

0.8444444444444444